<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ChurchTools Data Export</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav navbar-right" id="navbarSupportedContent" role="search">
            <form class="d-flex" action="/logout" method="POST">
                <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
            </form>
        </div>
    </div>
</nav>

<style>
    #refresh-files {
        transition: transform .7s ease-in-out;
    }
    #refresh-files:hover {
        transform: rotate(360deg);
    }
</style>

<div class="container">
    <h3 style="margin-top: 3rem;">Dashboard</h3>
    <h4 style="margin-top: 2rem;">Files <i class="fa-solid fa-arrows-rotate" id="refresh-files"></i></h4>
    <div class="list-group" id="files-list">
    </div>

    <h4 style="margin-top: 2rem;">Configuration</h4>
    <table class="table table-hover">
      <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody id="config-table-body">
  </tbody>

  </table>
    </div>
</div>
<script>
    function formatBytes(bytes, decimals = 2) {
        if (bytes === 0) return '0 Bytes';

        const k = 1024;
        const dm = decimals < 0 ? 0 : decimals;
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

        const i = Math.floor(Math.log(bytes) / Math.log(k));

        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    }
    function getIconForMimeType(mimeType) {
        if(mimeType == "text/csv") {
            return '<i class="fa-solid fa-file-csv"></i>';
        } else {
            return '<i class="fa-solid fa-file"></i>';
        }
    }

    function cronJobPatternToString(pattern) {

    }

    $(document).ready(function () {
        $('#refresh-files').click(function() {
            $.get("/store")
            .done(function () {
                location.reload();
            })
            .fail(function (error) {
                console.log(error);
            });
        });

        $.get("/status")
            .done(function (data) {
                data.files.forEach(file => {
                    var entryTmp = `<a href="#" class="list-group-item list-group-item-action">`+
                                   `    <div class="d-flex w-100 justify-content-between">`+
                                   `        <h5 class="mb-1">${file.filename}</h5>`+
                                   `        <small>${file.stats.mtime}</small>`+
                                   `    </div>`+
                                   `    <p class="mb-1">Some placeholder content in a paragraph.</p>`+
                                   `    <small>${formatBytes(file.stats.size)}</small><small style="margin-left:1em;">${getIconForMimeType(file.mimeType)}</small>`+
                                   `</a>`;
                    $('#files-list').append(entryTmp);
                });
                var rowTmp = `<tr><td>ChurchTools URL</td><td>${data.config.churchtools.url}</td></tr>`;
                $('#config-table-body').append(rowTmp);
                var rowTmp = `<tr><td>ChurchTools API user</td><td>${data.config.churchtools.username}</td></tr>`;
                $('#config-table-body').append(rowTmp);
                var rowTmp = `<tr><td>Log Level</td><td>${data.config.logging.level}</td></tr>`;
                $('#config-table-body').append(rowTmp);
                var rowTmp = `<tr><td>Cron Job</td><td>${data.config.cronJob.pattern}</td></tr>`;
                $('#config-table-body').append(rowTmp);
                console.log(data);
            })
            .fail(function (error) {
                console.log(error);
            });
    });
</script>