<script src="https://cdn.jsdelivr.net/npm/i18next@21.6.10/i18next.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-i18next@1.2.1/jquery-i18next.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector@6.1.3/i18nextBrowserLanguageDetector.min.js"></script>

<script src="public/js/i18n.js"></script>

<script src="https://unpkg.com/cronstrue@2.11.0/dist/cronstrue.min.js" async></script>
<script src="https://unpkg.com/cronstrue@2.11.0/dist/cronstrue-i18n.min.js" async></script>

<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>

<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" data-i18n="navbar.title"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav navbar-right" id="navbarSupportedContent" role="search">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-language"></i>
                    </a>
                    <ul class="dropdown-menu" id="i18n-languages">
                    </ul>
                </li>
            </ul>
            <form class="d-flex" action="/logout" method="POST">
                <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span data-i18n="navbar.logout"></span></button>
            </form>
        </div>
    </div>
</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    #refresh-files {
        transition: transform .7s ease-in-out;
    }
    #refresh-files-button:hover > #refresh-files {
        transform: rotate(360deg);
    }
    #trigger-hooks {
        transition: transform .7s ease-in-out;
    }
    #trigger-hooks-button:hover > #trigger-hooks {
        transform: rotate(360deg);
    }
    .loader-0 {
        width: 48px;
        height: 48px;
        border: 5px solid rgb(77, 77, 77);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }

        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 
    @keyframes spinner {
        to {transform: rotate(360deg);}
    }
 
    .spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        float: left;
        margin-top: 5px;
        margin-left: 1em;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #ccc;
        border-top-color: #000;
        animation: spinner .6s linear infinite;
    }
    /*
     * Enable wrapping of long text inside a pre-tag
     */
    pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
</style>

<div class="container" style="margin-bottom: 2em;">
    <h3 style="margin-top: 5rem;" data-i18n="dashboard"></h3>
    

    <button 
        type="button" 
        id="refresh-button"
        class="btn btn-outline-secondary btn-sm">
        <span data-i18n="refresh">Refresh</span> <i class="fa-solid fa-arrows-rotate"></i>
    </button>

    <hr style="margin-top: 1.8em;">

    <h4 style="margin-top: 2rem; margin-bottom: 1em;"><span data-i18n="files_export"></span> <i class="fa-solid fa-file-import"></i></h4>
    
    <button 
        type="button" 
        id="refresh-files-button"
        class="btn btn-outline-secondary btn-sm">
        <span data-i18n="export"></span> <i class="fa-solid fa-arrows-rotate" id="refresh-files"></i>
    </button>
    <span class="spinner" id="refresh-files-spinner" style="display: none;"></span>
    
    <div id="files" class="d-flex flex-wrap" style="margin-top: 1em;">
    </div>

    <hr style="margin-top: 1.8em;">

    <h4 style="margin-top: 2rem; margin-bottom: 1em;"><span data-i18n="hooks"></span> <i class="fa-solid fa-arrows-turn-right"></i></h4>
    <button 
        type="button" 
        id="trigger-hooks-button"
        class="btn btn-outline-secondary btn-sm">
        <span data-i18n="trigger_hooks"></span> <i class="fa-solid fa-play" id="trigger-hooks"></i>
    </button>
    <span class="spinner" id="trigger-hooks-spinner" style="display: none;"></span>
    <div class="accordion" id="hooks" style="margin-top: 1em;">
    </div>

    <hr style="margin-top: 2.8em;">

    <h4 style="margin-top: 2rem;" data-i18n="configuration"></h4>
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th scope="col" data-i18n="key"></th>
                <th scope="col" data-i18n="value"></th>
            </tr>
        </thead>
        <tbody id="config-table-body">
        </tbody>
    </table>
    <button type="button" class="btn btn-sm btn-success" id="saveConfig"><i class="fa-regular fa-floppy-disk"></i> <span data-i18n="save"></span></button>
</div>
<!-- Modal -->
<div class="modal fade" id="fileContentModal" tabindex="-1" aria-labelledby="fileContentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="fileContentModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body font-monospace" id="fileContentModalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="close"></button>
      </div>
    </div>
  </div>
</div>
<script>
    function formatBytes(bytes, decimals = 2) {
        if (bytes === 0) return '0 Bytes';

        const k = 1024;
        const dm = decimals < 0 ? 0 : decimals;
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

        const i = Math.floor(Math.log(bytes) / Math.log(k));

        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    }
    function getIconForMimeType(mimeType) {
        return '<i class="fa-solid fa-file"></i>';
    }

    function cronJobPatternToString(pattern) {

    }

    var groupExportTag;
    var personExportTag;

    function getTagIdsAndNames() {
        $.get("/getTags")
            .done(function (data) {
                var tagIdsAndNames = data;
                var tagRadioButtonTemplate = '<div class="form-group"><input class="form-check-input ##RADIO_GROUP##" type="radio" name="##RADIO_GROUP##" id="##ID##" data-name="##LABEL##" ##CHECKED##> <label class="form-check-label" for="##ID##">##LABEL## <span style="color: #bbb;">(ID: ##ID_ONLY##)</span></label></div>';
                
                var tmpPersons = '';
                var tmpGroups = '';
                tagIdsAndNames.forEach(tagIdAndName => {
                    var radioButtonPersonsTmp = tagRadioButtonTemplate
                        .replace(/##ID##/g, 'person-tag-'+tagIdAndName.id)
                        .replace(/##ID_ONLY##/g, tagIdAndName.id)
                        .replace(/##LABEL##/g, tagIdAndName.name)
                        .replace(/##RADIO_GROUP##/g, 'persons-to-export-tag-radio');
                    var radioButtonGroupsTmp = tagRadioButtonTemplate
                        .replace(/##ID##/g, 'group-tag-'+tagIdAndName.id)
                        .replace(/##ID_ONLY##/g, tagIdAndName.id)
                        .replace(/##LABEL##/g, tagIdAndName.name)
                        .replace(/##RADIO_GROUP##/g, 'groups-to-export-tag-radio');

                    if(personExportTag == tagIdAndName.name) {
                        radioButtonPersonsTmp = radioButtonPersonsTmp.replace('##CHECKED##','checked="checked"');
                    } else {
                        radioButtonPersonsTmp = radioButtonPersonsTmp.replace('##CHECKED##','');
                    }
                    if(groupExportTag == tagIdAndName.name) {
                        radioButtonGroupsTmp = radioButtonGroupsTmp.replace('##CHECKED##','checked="checked"');
                    } else {
                        radioButtonGroupsTmp = radioButtonGroupsTmp.replace('##CHECKED##','');
                    }
                    tmpPersons += radioButtonPersonsTmp;
                    tmpGroups += radioButtonGroupsTmp;
                });

                $('#tags-groupsToExport').empty();
                $('#tags-groupsToExport').append(tmpGroups);

                $('#tags-personsToExport').empty();
                $('#tags-personsToExport').append(tmpPersons);
            })
            .fail(function (error) {
                console.log(error);
            });
    }

    function saveConfig() {
        var newConfig = {
            "churchtools": {
                "url": $('#churchtools-url').val(),
                "username": $('#churchtools-username').val(),
                "password": $('#churchtools-password').val().trim().length > 0 ? $('#churchtools-password').val() : '',
            },
            "storage": {
                "path": $('#storage-path').val(),
                "groupsData": $('#storage-groupsData').val(),
                "contactPersonsData": $('#storage-contactPersonsData').val(),
                "mimeTypes" : [ ]
            }
        };
        if($('#outputJsonCheckBox').is(':checked')) {
            newConfig.storage.mimeTypes.push('application/json');
        } 

        newConfig.tags = {};
        newConfig.tags.groupsToExport = $( ".groups-to-export-tag-radio:checked" ).attr('data-name');
        newConfig.tags.personsToExport = $( ".persons-to-export-tag-radio:checked" ).attr('data-name');

        newConfig.logging = {};
        newConfig.logging.level = $( "#logLevelSelect option:selected" ).attr('value');        

        newConfig.cronJob = {};
        newConfig.cronJob.pattern = "00 00 23 * * *";

        $.ajax({
            url: "/updateConfig", 
            data: JSON.stringify(newConfig), 
            contentType: 'application/json',
            type: 'POST',
            success: () => {
                 location.reload();
            },
            error: (xhr, textStatus, errorThrown) =>{
                console.log(textStatus);
                console.log(errorThrown);
            }
            });
    }

    function displayHooks(hooks) {
        for(var i = 0; i < hooks.length; i++) {
            var hook = hooks[i];
            var hookTemp = `<div class="accordion-item">`+
                `<h2 class="accordion-header" id="heading-${hook.internalId}">`+
                    `<button `+
                        `class="accordion-button collapsed" `+
                        `type="button" `+
                        `data-bs-toggle="collapse" `+
                        `data-bs-target="#collapse-${hook.internalId}" `+
                        `aria-expanded="false" `+
                        `aria-controls="collapse-${hook.internalId}">`+
                        `Hook&nbsp; <span style="font-style: italic; color: #888">${hooks[i].description}</span>`+
                    `</button>`+
                `</h2>`+
                `<div `+
                    `id="collapse-${hook.internalId}" `+
                    `class="accordion-collapse collapse" `+
                    `aria-labelledby="heading-${hook.internalId}">`+
                `<div class="accordion-body">`+
                    `<label `+
                        `for="hook-description-${hook.internalId}" `+
                        `class="form-label" `+
                        `style="font-weight: var(--base-text-weight-semibold, 600);">`+
                        `Description`+
                    `</label>`+
                    `<input `+
                        `type="text" `+
                        `class="form-control form-control-sm" `+
                        `id="hook-description-${hook.internalId}" `+
                        `placeholder="Description" `+
                        `value="${hooks[i].description}">`+
                    `<label `+
                        `for="hook-url-${hook.internalId}" `+
                        `class="form-label" `+
                        `style="margin-top: 0.6em; font-weight: var(--base-text-weight-semibold, 600);">`+
                        `URL <span style="color: #b50000;">*</span>`+
                    `</label>`+
                    `<input `+
                        `type="text" `+
                        `class="form-control form-control-sm" `+
                        `id="hook-url-${hook.internalId}" `+
                        `placeholder="URL" `+
                        `value="${hooks[i].url}">`;
            if(hooks[i].hasOwnProperty('delay')) {
                hookTemp += 
                    `<label `+
                        `for="hook-delay-${hook.internalId}" `+
                        `class="form-label" `+
                        `style="margin-top: 0.6em; font-weight: var(--base-text-weight-semibold, 600);">`+
                        `Delay [seconds]`+
                    `</label>`+
                    `<input `+
                        `type="text" `+
                        `class="form-control form-control-sm" `+
                        `id="hook-delay-${hook.internalId}" `+
                        `placeholder="Delay in seconds" `+
                        `value="${hooks[i].delay}">`;
            }
             hookTemp += 
                    `<label `+
                        `for="hook-last-result-${hook.internalId}" `+
                        `class="form-label" `+
                        `style="margin-top: 0.6em; font-weight: var(--base-text-weight-semibold, 600);">`+
                        `Last Result`+
                    `</label>`+
                    `<input `+
                        `type="text" `+
                        `class="form-control form-control-sm" `+
                        `id="hook-last-result-${hook.internalId}" `+
                        `data-internalid="${hook.internalId}" `+
                        `placeholder="no result yet" readonly>`;
            hookTemp += `</div>`+
                `</div>`+
            `</div>`;
            $('#hooks').append(hookTemp);
        }
    }

    function getHooks() {
        $.ajax({
            url: "/hooks", 
            type: 'GET',
            success: (data) => { displayHooks(data); },
            error: (xhr, textStatus, errorThrown) =>{ console.log(textStatus); console.log(errorThrown); }
        });
    }

    function displayHooksResults(data) {
        for(var i = 0; i < data.length; i++) {
            $(`input[data-internalid="${data[i].internalId}"]`).val(data[i].result);
        }
    }

    function getStatus() {
        $.get("/status")
            .done(function (data) {
                $('#files').empty();
                data.files.forEach(file => {
                    var lastChangeDate;
                    if(file.exists == false) {
                        file.stats = {};
                        file.stats.mtime = '-'
                        file.stats.size = 0;
                        lastChangeDate = '-';
                    } else {
                        lastChangeDate = moment(file.stats.mtime, 'YYYY-MM-DDTHH:mm:ss.SSSZ').format('DD.MM.YYYY HH:mm:ss');
                    }

                    var entryTmp = 
                    `<div class="card" style="margin-bottom:1em; margin-right: 1em;">`+
                        `<h5 class="card-header">${getIconForMimeType(file.mimeType)} ${file.filename}</h5>`+
                        `<div class="card-body">`+
                            `<!--<h5 class="card-title">${file.filename}</h5>-->`+
                            `<p class="card-text"><span data-i18n="lastChangeDate"></span>: ${lastChangeDate}</p>`+
                            `<p class="card-text">${formatBytes(file.stats.size)}</p>`+
                            `<a href="#" class="btn btn-sm ${file.exists == false ? 'btn-outline-secondary' : 'btn-primary'} ${file.exists == true ? '': 'disabled'} view-file-button" data-filename="${file.filename}"><span data-i18n="view_file"></span> <i class="fa-regular fa-eye"></i></a>`+
                        `</div>`+
                    `</div>`;
                    $('#files').append(entryTmp);
                    
                });
                $('.view-file-button').click(function(event) {
                    var filename = $(this).data('filename');
                     $.get("/file?filename="+filename)
                        .done(function (file) {
                            var content = file.content;
                            if(filename.endsWith('json')) {
                                content = JSON.stringify(JSON.parse(content), null, 4);
                            }
                            $('#fileContentModalLabel').empty();
                            $('#fileContentModalLabel').append(filename);
                            $('#fileContentModalBody').empty();
                            $('#fileContentModalBody').append("<pre>"+content+"</pre>");
                            $('#fileContentModal').modal('show');
                        })
                        .fail(function (error) {
                            console.log(error);
                        });
                });


                var inputRowTemplate = `<tr><td data-i18n="##key##"></td><td><div class="input-group input-group-sm input-inline"><input id="##id##" type="text" class="form-control" value="##value##"></div></td></tr>`;
                $('#config-table-body').empty();

                $('#config-table-body').append(inputRowTemplate
                    .replace('##key##','config.churchtools.url')
                    .replace('##id##','churchtools-url')
                    .replace('##value##',data.config.churchtools.url));

                $('#config-table-body').append(inputRowTemplate
                    .replace('##key##','config.churchtools.username')
                    .replace('##id##','churchtools-username')
                    .replace('##value##',data.config.churchtools.username));

                $('#config-table-body').append(`<tr><td data-i18n="config.churchtools.password"></td><td><div class="input-group input-group-sm input-inline"><input id="churchtools-password" type="password" class="form-control" placeholder="Enter the new password here"></div></td></tr>`);

                $('#config-table-body').append(inputRowTemplate
                    .replace('##key##','config.storage.groupsData')
                    .replace('##id##','storage-groupsData')
                    .replace('##value##',data.config.storage.groupsData));

                $('#config-table-body').append(inputRowTemplate
                    .replace('##key##','config.storage.contactPersonsData')
                    .replace('##id##','storage-contactPersonsData')
                    .replace('##value##',data.config.storage.contactPersonsData));

                var tmp = '';
                if(data.config.storage.mimeTypes.includes('application/json')) {
                    tmp = 'checked="checked"';
                }
                rowTmp = `<tr><td data-i18n="config.storage.json"></td><td><input class="form-check-input" type="checkbox" id="outputJsonCheckBox" ${tmp}></td></tr>`;
                $('#config-table-body').append(rowTmp);

                var rowTmp = '<tr><td data-i18n="config.logging.level"></td><td><div class="input-group input-group-sm input-inline"><select class="from-select" id="logLevelSelect">'+
                    `<option value="debug" ${data.config.logging.level == 'debug' ? 'selected' : ''}>Debug</option>`+
                    `<option value="info" ${data.config.logging.level == 'info' ? 'selected' : ''}>Info</option>`+
                    `<option value="error" ${data.config.logging.level == 'error' ? 'selected' : ''}>Error</option>`+
                    `<option value="none" ${data.config.logging.level == 'none' ? 'selected' : ''}>None</option>`+
                    `</select></div></td></tr>`;
                $('#config-table-body').append(rowTmp);

                $('#config-table-body').append(`<tr><td data-i18n="config.cronJob"></td><td><div class="input-group input-group-sm input-inline">`+
                    `<input id="cronJob-pattern" type="text" class="form-control" value="${data.config.cronJob.pattern}">`+
                    `<div class="input-group-append"><a href="https://github.com/node-cron/node-cron#cron-syntax" target="_blank" class="btn btn-outline-secondary" data-i18n="help"></a></div></div>`+
                    `<div><span id="cronJob-pattern-explanation"></span></div></td></tr>`);
                // Display a cron pattern explanation
                $('#cronJob-pattern-explanation').append(cronstrue.toString($('#cronJob-pattern').val(), { use24HourTimeFormat: true, locale: "de" }));
                // Update the cron pattern explanation on change
                $('#cronJob-pattern').change(()=> {
                    $('#cronJob-pattern-explanation').empty();
                    // TODO: make locale dynamic
                    $('#cronJob-pattern-explanation').append(cronstrue.toString($('#cronJob-pattern').val(), { use24HourTimeFormat: true, locale: "de" }));
                });

                i18next.changeLanguage("de", () => {
                    rerender();
                });
                //getTagIdsAndNames();
            })
            .fail(function (error) {
                console.log(error);
            });
    }

    function refreshFiles() {
        $('#refresh-files-button').prop("disabled", true);
        $('#refresh-files-spinner').show();
        $.post("/store")
            .done(function () {
                getStatus();
            })
            .fail(function (error) {
                console.log(error);
            })
            .always(function() {
                $('#refresh-files-spinner').hide();
                $('#refresh-files-button').prop("disabled",false);
            });
    }

    /**
     * Trigger hooks
     */
    function triggerHooks() {
        $('#trigger-hooks-button').prop("disabled", true);
        $('#trigger-hooks-spinner').show();
        $.post("/hooks")
            .done((data) => displayHooksResults(data))
            .fail((xhr, textStatus, errorThrown) => { console.log(textStatus); console.log(errorThrown); })
            .always(function() {
                $('#trigger-hooks-spinner').hide();
                $('#trigger-hooks-button').prop("disabled", false);
            });
    }

    $(document).ready(function () {
        $('#refresh-files-button').click(refreshFiles);
        $('#trigger-hooks-button').click(triggerHooks);
        $('#refresh-button').click(getStatus);
        $('#saveConfig').click(saveConfig);

        getStatus();
        getHooks();
    });
</script>
