<script src="https://cdn.jsdelivr.net/npm/i18next@21.6.10/i18next.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-i18next@1.2.1/jquery-i18next.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector@6.1.3/i18nextBrowserLanguageDetector.min.js"></script>

<script src="public/js/i18n.js"></script>

<nav class="navbar navbar-expand-lg bg-light">
   <div class="container-fluid">
      <a class="navbar-brand" href="#" data-i18n="navbar.title"></a>
      <div class="nav navbar-right" id="navbarSupportedContent" role="search" style="margin-right: 6em;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-language"></i>
                    </a>
                    <ul class="dropdown-menu" id="i18n-languages">
                    </ul>
                </li>
            </ul>
        </div>
   </div>
</nav>

<div class="container">
   <h3 style="margin-top: 3rem;" data-i18n="login"></h3>
   <p data-i18n="[html]login_info"></p>
   <form action="/login" method="POST">
      <div class="row">
         <div class="input-group">
            <span class="input-group-text" id="inputGroup">Token</span>
            <input type="text" id="username" name="username" value="notrelevant" hidden>
            <input type="password" class="form-control" autofocus="autofocus" id="inputPassword" name="password" placeholder="" aria-label="" aria-describedby="inputGroup">
            <button type="submit" class="btn btn-secondary" data-i18n="login"></button>
         </div>
      </div>
   </form>
</div>

<script>
   $(document).ready(function () {
       $('#inputPassword').attr('placeholder', i18next.t('token_placeholder'));
       $('#inputPassword').attr('aria-label', i18next.t('token_placeholder'));
   });
</script>