<nav class="navbar navbar-expand-lg bg-light">
   <div class="container-fluid">
      <a class="navbar-brand" href="#">ChurchTools Data Export</a>
   </div>
</nav>

<div class="container">
   <h3 style="margin-top: 3rem;">Login</h3>
   <p>Access to the dashboard requires to login. Enter the <strong>admin token</strong> to proceed.</p>
   <form action="/login" method="POST">
      <div class="row">
         <div class="input-group">
            <span class="input-group-text" id="inputGroup">Token</span>
            <input type="text" id="username" name="username" value="xyz" hidden>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter the token here" aria-label="Enter the token here" aria-describedby="inputGroup">
            <button type="submit" class="btn btn-primary">Login</button>
         </div>
      </div>
   </form>
</div>